.cart-notification{
    position:fixed;
    top:50px;
    right:-100%;
    z-index:1000;
    width:100%;
    max-width:300px;
    transition:.4s all ease;
}
.cart-notification.active{
    right:0;
}
.notification_block{
    display:flex;
    align-items:center;
    background: #0063d1;
    padding:10px;
}

.notification_block i{
    font-size:25px;
    margin-right: 10px;
}

.product_list_widget-1{
    height:400px;
    overflow-y: scroll;
}
.site-header .widget_shopping_cart_content .product_list_widget .mini_cart_item .profile_item{
    font-size:16px;
    margin-bottom: 15px;
}
.site-header .widget_shopping_cart_content .product_list_widget .mini_cart_item .profile_item:last-child{
    margin-bottom: 0;
}